@font-face {
  font-display: swap;
  font-family: 'BebasNeue-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('BebasNeue-Regular', url('BebasNeue-Regular.woff') format('woff'));
}

h1 {
  font-family: 'BebasNeue-Regular';
  font-weight: 200;
  color: #ffffff;
}

img {
  height: 100px;
  width: 100px;
}

.magic-img {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.magic-img:hover {
  cursor: pointer;
}

.square-color {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin: 3px 0 0 5px;
  border: 1px solid black;
  clear: both;
}

/* style mobile first */
@media only screen and (max-width: 640px) {
  .card {
    padding: 1rem;
    margin: 5px 10px;
  }
}

/* tablet */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .card {
    width: 45%;
    padding: 1rem;
    margin-right: 0.5rem;
  }
}

/* desktop */
@media only screen and (min-width: 1025px) {
  .card {
    width: 25%;
    padding: 1rem;
    margin-right: 0.5rem;
  }
}
